// Css para el Header
header {
    // background-color: $tempColor;
    // width: $widthSections;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $fontFamilyRaleway;
    padding-top: $paddingMain;
    
    img, li {
        cursor: pointer;
    }

    div {
        max-width: 30%;

        img, svg {
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    ul {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        li {
            color: $primaryDesaturatedBlue;
            padding-left: 20px;
        }
    }

    @media (width > $widthMobile) {
        
        // margin: 0 auto;
    }
}
