// Css para la sección 1

.section1 {
    width: 100%;
    display: flex;
    flex-direction: column;

    * {
        margin: 5px 0;
    }

    .section-image img {
        width: 100%;
    }

    article:first-child {
        order: 1;
    }

    article:last-child {
        order: 2;
        display: flex;
        flex-direction: column;
        text-align: center;

       p {
        color: $primaryDesaturatedBlue;
        font-weight: bold;
        line-height: 1.5;
       } 

       form {
        display: flex;
        flex-direction: column;
       }
    }
}
