.main-section-access {
    background-color: $primaryDesaturatedBlue1;
}

.section-access {
    width: $widthSections;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: calc($paddingMain * 2.5) $paddingMain;

    color: $neutralLightGrayishBlue;

    article {
        width: 100%;
    }

    article>* {
        margin-top: 10px;
    }

    article:last-child form {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media (width > $widthMobile) {
        min-height: 280px;
        display: flex;
        flex-direction: row;
        text-align: start;
        gap: 50px;

        article:last-child form {
            flex-direction: column;
            align-items: start;
            gap: 20px;

            input:first-child {
                width: 100%;
            }
        }
    }
}