// Css for section 2

.section2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: $paddingMain 0;

    article:first-child img {
        width: 100%;
    }

    article:last-child {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            text-align: center;
            font-family: $fontFamilyRaleway;
            color: $primaryVeryDarkBlue;
            font-size: clamp($fontSizeH1 * 1.2, 2vw, $fontSizeH1 * 2);
        }

        .paragraph-section2 {
            font-size: 0.9rem;
            color: $primaryDesaturatedBlue;
            margin-bottom: 15px;
            line-height: 1.5;
        }

        .div-arrow {
            border-bottom: 1px $accentModerateCyan solid;
            align-self: center;
        }

        span {
            display: flex;
            gap: 5px;
            color: $accentModerateCyan;
            font-size: 0.8rem;
            align-items: center;
        }
    }

    // Media queries
    @media (width > $widthMobile) {
        min-height: 450px;
        // border: 2px solid rgb(54, 46, 76);
        flex-direction: row;
        // gap: 10px;

        article:first-child {
            order: 2;
            max-width: 50%;
        }

        article:first-child img {
            width: 100%;
        }

        article:last-child {
            order: 1;
            gap: 20px;
            align-items: flex-start;

            .paragraph-section2 {
                color: $primaryDesaturatedBlue;
                font-weight: normal;
                line-height: 1.5;
                font-weight: bold;
                font-size: calc($fontSizeParagraph + 0rem);
            }

            .div-arrow {
                border-bottom: 1px $accentModerateCyan solid;
                align-self: flex-start;
            }

            span {
                display: flex;
                gap: 8px;
                color: $accentModerateCyan;
                font-size: 1rem;
                align-items: center;
            }
        }
    }
}

// Card 

.card-section2 {
    width: 90%;
    margin: 20px auto;
    padding: $paddingMain;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px 5px $primaryDesaturatedBlue;
    border-radius: 7px;
    gap: 15px;

    .paragraph-card {
        font-size: calc($fontSizeParagraph - 0.2rem);
        font-family: $fontFamilyOpenSans;
        color: $primaryDesaturatedBlue;
        line-height: 2;
    }

    .data-person {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            width: $widthImgPerson;
            border-radius: 50%;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: stretch;

            p {
                font-size: calc($fontSizeParagraph - 0.25rem);
            }

            p:first-child {
                font-weight: bolder;
            }
        }
    }

    @media (width > $widthMobile) {
        width: 80%;
        margin: 20px 0;
        gap: 5px;

        .paragraph-card {
            font-size: calc($fontSizeParagraph - 0.3rem);
        }

        .data-person {
            // gap: 15px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: stretch;

                p {
                    font-size: calc($fontSizeParagraph - 0.35rem);

                }
            }
        }
    }

    @media (width > calc($widthMobile + 400px)) {
        width: 60%;
    }
}