@import './variables';
@import './components/header';
@import './components/section1';
@import './components/section2';
@import './components/sectionaccess';
@import './components/footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    font-family: $fontFamilyOpenSans;
}

ul {
    list-style: none;

    li {
        font-family: $fontFamilyRaleway;
    }
}

h1 {
    font-family: $fontFamilyRaleway;
    // font-size: $fontSizeH1;
    font-size: clamp($fontSizeH1 * 1.5, 5vw, $fontSizeH1 * 3);
    color: $primaryVeryDarkBlue;
}

input {
    padding: $paddingInputs;
    border-radius: 5px;
}

input[type="email"] {
    border: 1px solid $primaryDesaturatedBlue;
}

input[type="submit"] {
    border: none;
    background-color: $accentBrightBlue;
    color: $neutralLightGrayishBlue;
    font-weight: bolder;
    cursor: pointer;

    &:hover {
        background-color: hsla(217, 84%, 60%, 0.877)
    }
}

p {
    font-family: $fontFamilyOpenSans;
}

.message-email {
    font-size: calc($fontSizeParagraph - 0.3rem) !important;
    font-weight: normal !important;
    margin: calc($paddingMain - calc($paddingMain * 1.8)) 0 !important;
    padding: 0 !important;
    text-align: left !important;
}

main {
    display: flex;
    flex-direction: column;

    // padding: $paddingMain;

    .main-div {
        // padding: $paddingMain;
        // width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-div>*:first-child {
        width: $widthSections;
    }

    @media (width > $widthMobile) {
        .main-div>*:first-child {
            // border: 2px rgba(17, 70, 40, 0.717) solid;
        }
    }

    @media (width > calc($widthMobile + 200px)) {
        .main-div>*:first-child {
            // border: 2px rgb(0, 3, 186) solid;
            width: 90%;
        }
    }

    @media (width > calc($widthMobile + 400px)) {
        .main-div>*:first-child {
            // border: 2px rgb(179, 10, 75) solid;
            width: 80%;
        }
    }

}